

/* Colors
========================================================================== */

$sapphire:								#223649;
$sapphire-dark:							darken($sapphire, 6%);

$topaz:									#4D96D8;
$topaz-dark:							darken($topaz, 6%);


// states
//-----------------------------------------------

$info:									#00B3DC;

$success:								#00B48E;

$warning:								#FBA900;

$danger:								#FF4233;					


// Colors
//-----------------------------------------------

//torquise
$jade:									#5EBAA8;

//green
$emerald:								#00B48E;

//yellow
$amber:									#D1A442;

//orange
$citrine:								#D87348;

//red
$ruby:									#FF4233;

//pink
$opal:									#CB75AB;

//purple
$amethyst:								#6A4D9E;

/* Greys
========================================================================== */

//black
$obsidian:								#030609;

// dark grey
$charcoal:								#292F33;

//lighter grey
$slate:									#66757F;

//grey
$granite:								#8899A6;

//Borders
$gravel:								#E1E8ED;

//Background								
$limestone:								#EFF3F6;

//Card Panels // White
$diamond:								#FFFFFF;




// Text
//-----------------------------------------------

$text-dark:								$charcoal;

$text-light:							$granite;	

$font-main: 		"proxima-nova", "Proxima Nova", helvetica, arial, sans-serif;











