// Variables 

// Colors
//==============================


//alert status
//--------------

$primary:         		$topaz;
$success:         		$emerald;
$info:            		$topaz;
$warning:         		$amber;
$danger:          		$ruby;


//Text
//--------------
$text-darkest:			$obsidian;			
$text-dark:				$charcoal;
$text-medium:			$slate;		
$text-light: 			$granite;
$text-lightest:			$gravel;

//font weights
//--------------
$skinny:				400;
$medium:				500;
$heavy:					700;


//links
//--------------
$link:					$topaz;
$link-hover:			lighten($topaz, 3%);

//document colors
//--------------
$body:					$limestone;
$background-lightest:  	darken($limestone, 3%);
$background-light:  	darken($limestone, 6%);
$background-dark:   	darken($limestone, 9%);
$background-darkest:	darken($limestone, 18%);

//borders
//--------------
$border: 				$gravel;
$border-dark:			darken($gravel, 6%);

//border radius
//---------------

$border-radius: 		3px;

//box shadow
//---------------

$box-shadow: 			0 3px 6px rgba(0, 0, 0, 0.05);

//hr
//--------------
$hr:					lighten($gravel, 3%);

//buttons
//--------------
$btn-default-bg:     	$gravel;
$btn-default-border: 	$gravel;

//icons
//--------------
$icon: 					darken($granite, 3%);
$icon-light:			$granite;

//Forms
//--------------

$border-focus:			$topaz;

//panels
//--------------
$panel-bg:				#fff;
$panel-heading-bg:		$background-light;
$panel-body-hover:  	$background-light;
$panel-border:			$gravel;
$panel-footer-bg:		$background-light;

//dropdowns
//--------------
$dropdown-link:			$slate;
$dropdown-hover:		$background-light;

//tables
//--------------
$table-accent:			lighten($limestone, 2%);

//Loader
//--------------

$loader:				$topaz;
$loader-light:			$granite;

//placeholders
//--------------
$placeholder-bg:		$background-darkest;

//placeholders
//--------------
$input-placeholder:		$gravel;

//hover for cards, tags, etc
//--------------
$hover:					lighten($background-light, 6%);


//Typography
//==============================

$font-main: 		"proxima-nova", "Proxima Nova", helvetica, arial, sans-serif;


