  // Fullwidth menu
  .dropdown.yamm-fw .dropdown-menu {
    left: 0; 
    right: 0;
  }


  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      background-color: #fff;
      color: $topaz !important;
      border-radius: 5px;
  }

// // shows menu on hover
//  ul.nav li.dropdown:hover > ul.dropdown-menu {
//     display: block;    
// }

.dropdown-menu .yamm-content {
    h5 {
      font-weight:600;
      color:$topaz !important;
      text-transform: uppercase;
    }

    p {
      font-weight:500;
      color:$slate;
      margin-bottom:5px;
    }

    a {
      padding: 1px 0px;
      color: #66757F;
      margin-bottom: 0px;
      display: block;
      font-weight: 500;
      border: none;
      text-decoration: none;
      transition:none;

      &.btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
      }

      &:hover {
        background-color:transparent;
        color:$topaz !important;
      }

  }
}

