.integration-card {
	border-radius: 5px;
    border: solid 1px;
    border-color: $gravel;
    margin: 20px;
    padding: 10px;
    min-width: 240px;
    height: 190px;
    color: $charcoal;
    font-size: 17px;
    font-weight: 500;
    float: none;

    .logo {
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: white;
        text-align: center;
    }

    img {
        max-width: 175px;
        max-height: 64px;
    }

    h4 {
     padding-top: 20px;
     color: $charcoal;
    }

    p {
        color:$granite;
        font-size:15px;
    }
}