.news-section {
    background-color:$limestone;

    h2 {
        color:$topaz;
    }

    .news-articles-block .news-details {
        padding:30px 0px;

        text-align: left;
    }

}

section.news,
section.blog {
	.btn {
		padding:10px 25px;
		border-radius: 24px;
		text-transform: uppercase;
	}

	.divider-line {
		margin:0 auto;
		display: inline-block;
	}
}

#particles {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	z-index: 0;
	opacity: .5;
}


.text-primary {
	color:$topaz;
}

.schedule-demo {

	icon {
		color:#fff;
		font-size:20px;
		margin-right:10px;
		margin-left:10px;
	}

	h3, h4, p {
		color:#fff;
	}

	p {
		opacity: 1;
	}
}

.block-intro {
	font-size:16px;
	color:$granite;
	max-width:720px;
	margin:auto;
}

.form-wrapper {
	padding:25px;
	background-color:#fff;
	border:solid 1px $gravel;
	border-radius: 5px;
	margin-top:20px;
	padding-top:20px;

	h4 {
		color:$topaz;
		margin-bottom:20px;
	}
}


.affliation-wrapper {
    // background: #fff;
    padding-top: 30px;
    padding-bottom: 15px;

    .logo {
        text-align: center;
        margin-bottom: 15px; 

        img {
          margin: 0 auto;

            &.chicago {
                width:90px;
                margin-top:15px;
            }

            &.watson {
                width:200px;
                margin-top:12px;
            }

            &.qc {
                width:180px;
                margin-top:10px;
            }

            &.harbor {
                width:80px;
            }

        }

        opacity: .5;
    }
}