<!-- footer 6 -->

<footer class="footer-6 bg-midnight-blue">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div><a class="brand" href="#">
                <img src="../img/watson_w.png" alt="Watson Ecosystem Partner">
              </a>
              </div>
            </div>
            <nav>
              <div class="col-xs-12 col-sm-2">
                <h6>Product</h6>
                <ul>
                  <li><a href="/product/overview">Overview</a>
                  </li>
                  <li><a href="/product/assistance">Sales Assistance</a>
                  </li>
                  <li><a href="/product/coaching">Sales Coaching</a>
                  </li>
                  <li><a href="/product/performance">Sales Performance</a>
                  </li>

                </ul>
              </div>
              <div class="col-xs-12 col-sm-2">
                <h6>Resources</h6>
                <ul>
                  <li><a href="/execution">Sales Execution</a>
                  </li>
                   <li><a href="/editions">Editions</a>
                  </li>
                  <li><a href="http://blog.interloop.io">Blog</a>
                  </li>
                  <li><a href="interloop_logos.zip" download>Media Kit
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-2">
                <h6>Connect</h6>
                <ul>
                  <li><a href="/company/about">About Us</a>
                  </li>
                  <li><a href="/company/news">In the news</a>
                  </li>
                  <li><a href="/company/press">Press Releases</a>
                  </li>
                  <li><a href="/company/contact">Contact Us</a>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="col-xs-12 col-sm-3">
              <h6>Stay in the loop</h6>
              <div class="input-group">

                <!-- Email subscriber form -->
                  <form id="mc-form" class="group" novalidate="true">
                   <!-- email input -->
                   <input class="form-control" type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Email Address" required=""> 
                    <!-- arrow button -->
                  <span class="input-group-btn">
                    <button type="submit" class="btn" type="button">
                      <span class="fui-arrow-right"> </span>
                    </button>
                  </span>
                  <br>

                  <!-- callback message -->
                  <label for="mc-email" class="subscribe-message"></label>
                 </form>
                 <!-- end email subscriber form -->

              </div>
              <div class="social-btns">
                <a href="https://www.facebook.com/InterloopHQ/" target="_blank">
                  <div class="fui-facebook"></div>
                  <div class="fui-facebook"></div>
                </a>
                <a href="https://twitter.com/Interloop_io" target="_blank">
                  <div class="fui-twitter"></div>
                  <div class="fui-twitter"></div>
                </a>
                <a href="https://www.linkedin.com/company/interloop-io" target="_blank">
                  <div class="fui-linkedin"></div>
                  <div class="fui-linkedin"></div>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
      <!-- second footer -->

      <footer class="footer-4 bg-midnight-blue">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 text-left">
              <p>&copy; 2016 Interloop Technologies, Inc. All Rights Reserved.</p>
            </div>
             <div class="col-xs-12 col-sm-6 text-right">
              <p><a href="/privacy">Privacy</a> | <a href="/terms">Terms</a></p>
            </div>
          </div>
          
        </div>
      </footer>
