        <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col-inner">
                    <br>
                        <ul class="footer-menu list-unstyled">
                            <img class="footer-image" src="http://res.cloudinary.com/dsi8lfsza/image/upload/v1526353250/logo-light_aouacy.png" alt="Interloop" width="150">
                            <br>
                            <div class="address">
                            <p>186 Seven Farms Drive</p>
                            <p>Suite F149</p>
                            <p>Charleston, SC  29492</p>
                            <br>
                            </div>
                                
<!--                             <a class="hidden-xs" href="http://www.charlestonopensource.com/" target="_blank">
                            <img class="made-in-charleston" src="img/charleston.svg" alt="Made In Charleston">
                            </a> -->
                     <!--        <a href="tel:" class="footer-link">(111) 222-3456</a> -->
<!--                             <a href="mailto:hi@interloop.ai" class="footer-link">hi@interloop.ai</a> -->
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//footer-col-->
                <div class="footer-col col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">Product</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="{{base}}/product/#pipeline-management">Pipeline Management</a></li>
                            <li><a href="{{base}}/product/#forecasting">Forecasting</a></li>
                            <li><a href="{{base}}/product/#coaching">Coaching</a></li>
                            <li><a href="{{base}}/product/#insights">Insights</a></li>
                            <li><a href="{{base}}/integrations">Integrations</a></li>
                        </ul>
                       <!--  <h3 class="col-title">Solutions</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="{{base}}/solutions/#business-development">Business Development</a></li>
                            <li><a href="{{base}}/solutions/#crm-automation">CRM Automation</a></li>
                            <li><a href="{{base}}/solutions/#sales-execution">Sales Execution</a></li>
                            <li><a href="{{base}}/solutions/#sales-forecasting">Sales Forecasting</a></li>
                        </ul> -->
                    </div><!--//footer-col-inner-->
                </div><!--//footer-col-->
                <div class="footer-col col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">Company</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="{{base}}/company">About Us</a></li>
                            <li><a href="{{base}}/company/news">In The News</a></li>
                            <li><a href="{{base}}/company/careers">Careers <label class="label label-new">We're hiring</label></a> </li>
                            <li><a href="{{base}}/company/press">Press</a></li>
                            <li><a href="{{base}}/interloop_logos.zip">Media Kit</a></li>
                        </ul>
                    </div>
                </div><!--//footer-col-->
                <div class="footer-col col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">Support</h3>
                        <ul class="footer-menu list-unstyled">
                            <!-- <li><a href="{{base}}/resources">Resources</a></li> -->
                            <li><a href="http://whatsnew.interloop.ai/" target="_blank">Product Updates</a></li>
                            <li><a href="http://help.interloop.ai" target="_blank">Help Center</a></li>
                            <li><a href="{{ base }}/privacy">Privacy Policy</a></li>
          <!--                   <li><a href="#">Become a partner</a></li> -->
                        </ul>
                        <h3 class="col-title">Contact</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="{{base}}/contact">Contact Us</a></li>
                            <li><a href="http://blog.interloop.ai">Blog</a></li>
                        </ul>
                    </div>
                </div><!--//footer-col-->
            </div>
            <div class="divider"></div>
            <div class="footer-bottom text-center">
                <ul class="social-media list-inline">
                    <li><a target="_blank" href="https://twitter.com/interloophq"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/interloop-ai"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/InterloopHQ/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<!--                     <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
<!--                     <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li> -->
                    
                </ul>
                <p class="copyright">© 2017 Interloop Technologies, Inc</p> 
                <a class="status-link" href="http://status.interloop.ai" target="_blank">
                  <span class="color-dot"></span>
                  <span class="color-description"></span>
                </a>
            </div>
        </div><!--//container-->
    </footer><!--//footer-->