<div class="blog-signup-block">
    <div class="container text-center">
        <h3 class="block-heading">Want sales tips delivered to your inbox?</h3>
        <div class="block-intro">Subscribe to our newsletter to stay up to speed on the latest in sales execuction</div>
        <form class="subscribe-form form-inline" id="mc-form" novalidate="true">
            <div class="form-group">
                <label class="sr-only" for="semail">Your Email</label>
                <input  id="semail"class="form-control" type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Enter your email address" required=""> 
                <button type="submit" class="btn btn-primary">Subscribe</button>  
            </div>  
            <label for="mc-email" class="subscribe-message"></label>                            
        </form>
    </div><!--//container-->
</div><!--//blog-signup-block-->