    <!-- cdns -->
    <script src="https://cdn.statuspage.io/se-v2.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script>
    	window.onload = function() {
			/* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
			particlesJS.load('particles', 'particles.json', function() {
			  // console.log('callback - particles.js config loaded');
			});
		};
    </script>

    <!-- //gets latest blogs -->
    <script type="text/javascript" src="https://blog.interloop.ai/shared/ghost-url.min.js"></script>
    <script>
        ghost.init({
            clientId: "ghost-frontend",
            clientSecret: "4e727000d448"
        });

        function onSuccess(data) {
            console.log('on success')
          var $result = $('#blog-posts');
          $.each(data.posts, function (i, post) {
            $result.append(
              '<li>' + post.title + '</li>'
            );
            console.log('posts',post)
          });
        }  

        jQuery(document).ready(function () {
          $.get(
            ghost.url.api('posts', {limit: 3})
          ).done(onSuccess);
        });
    </script>

    <!-- jQuery -->
    <script src="{{base}}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{base}}/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{{base}}/js/jquery.easing.min.js"></script>
    <script src="{{base}}/js/scrolling-nav.js"></script>

    <!-- sumo me -->
    <script src="//load.sumome.com/" data-sumo-site-id="8a0d04db7ee874a1fbe29dec7eda9805f1d75723b5e75170188dd82f95f3e9a0" async="async"></script>

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66000829-2', 'auto');
      ga('send', 'pageview');

    </script>


    <!-- google business script to help show up in searches -->
    <script type="application/ld+json">

        {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name" : "Interloop Technologies, Inc.",
        "url": "http://interloop.ai",
        "sameAs" : [
        "https://www.facebook.com/InterloopHQ/",
        "",
        "https://www.linkedin.com/company/interloop-ai",
        ""
        ]
        }
        </script>

        <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name" : "Interloop Technologies, Inc.",
        "url": "http://interloop.ai",
        "logo": "",
        "image": "",
        "description": "Interloop is a Sales Forecasting & Intelligence Platform built for modern sales teams.",
        "telephone": "",
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Charleston",
        "addressRegion": "SC",
        "streetAddress": "186 Seven Farms Drive",
        "postalCode": "29492"
        },
        "openingHours": [
        "Mo-Fri 09:00-17:00"
        ]
        }
    </script>