body {
    width: 100%;
    height: 100%;
    background:#fff;
}

html {
    width: 100%;
    height: 100%;
}

.navbar-default .navbar-toggle {
    border-color: #fff !important;
}


@media(max-width:400px) {
    .navbar {
        background-color:#123 !important;
        padding:0px;
        padding-left:10px;
    }

    .intro-section.large {
        padding-top:120px;
    }

    &.nav-scrolled {
        padding-top:0px;
    }

}

@media(min-width:767px) {
    .navbar {
        padding: 10px 15px;
        padding-top:25px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    &.nav-scrolled {
        padding-top:10px;
    }

}

.btn {
    padding: 10px 25px;
    border-radius: 24px !important;
}