.logo-wrapper {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom:solid 1px $gravel;
    
    .logo {
        text-align: center;
        margin-bottom: 15px; 
        img {
          margin: 0 auto;
          height: 45px;
          margin-top:10px;

          &.sm {
            height:35px;
          }
        }
        opacity: 1;
    }
}
