
.news-articles-block {
    max-width: 100%;
    
    .news-details {
    	padding: 90px 0px;
    	max-width:1200px;
    	margin: 0 auto;

    	.row {
    		margin-bottom:15px;
    	}
    }
  


	.news-card {
		display: block;
		border-radius: 4px;
		background-color:#fff;
		padding:20px;
		text-decoration: none;
		height:360px;
		overflow: hidden;
		margin-bottom:15px;
        color:$sapphire;
        border:solid 1px $gravel;
    

		&:hover {
          box-shadow: 3px 3px 32px rgba(0,0,0,.125);
          -webkit-box-shadow: 3px 3px 32px rgba(0,0,0,.125);
          transition:box-shadow ease-in-out .15s;
          -webkit-transition:box-shadow ease-in-out .15s;

			// h4 {
			// 	color:$topaz;
			// }
		}

		img {
			width:54px;
			display: block;
			margin:auto;
			margin-top: 10px;
    		margin-bottom: 25px;

            &.bwire {
                width:128px;
            }

            &.compose {
                width:92px;
            }


    		&.startup-factory {
    			width:76px;
    			margin-bottom:40px;
    		}

    		&.ca {
    			width:50px;
    		}

    		&.wt {
    			width:110px;
    		}


		}
	}

}