.news-banner {
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	background-color:lighten($ruby, 6%);
	padding:15px;
	color:#fff;
	text-align:center;
	z-index: 100;
	font-size:15px;

	a {
		color:#fff;
		opacity: .85;

		&:hover {
			opacity: 1;
		}
	}
}

body.has-news-banner {
	margin-top:50px;

	.navbar {
		margin-top:50px;
	}
}