<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]--> 

    <!-- head -->
    {% include head.html %}

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"> 

        <!-- header -->
        {% include nav.html %}

        <!-- content -->
        {{ content }}

        <!-- footer -->
        {% include footer.html %}  
        
        <!-- scripts -->
        {% include scripts.html %}  

        
    </body>
</html> 

